<div class="contact-container padded-container skew" id="contact">
  <h2 class="section-title unskew">Contact</h2>
  <div class="contact-content unskew">
    <div class="left">
      <div class="c-wrapper" href="tel:815-616-2174">
          <a href="tel:815-616-2174"><i class="fas fa-mobile"></i></a>
          <a href="tel:815-616-2174">815.616.2174</a>
      </div>
      <div class="c-wrapper" href="mailto:a.j.martire@gmail.com">
          <a href="mailto:a.j.martire@gmail.com"><i class="far fa-paper-plane"></i></a>
          <a href="mailto:a.j.martire@gmail.com">a.j.martire@gmail.com</a>
      </div>
    </div>
    <div class="right">
      <app-animation-helper></app-animation-helper>
    </div>
  </div>
</div>
