<div class="page-container">
    <h1>GO FILES</h1>
    <div class="wide-content skew">
        <div class="wide-image unskew">
            <img src="../../../assets/img/center-image.jpg">
        </div>
        <div class="wide-text unskew">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu facilisis sed odio morbi quis commodo odio aenean. Lacus viverra vitae congue eu consequat. Dignissim enim sit amet venenatis. Viverra nam libero justo laoreet sit. Velit sed ullamcorper morbi tincidunt ornare. Ultrices dui sapien eget mi proin sed libero. Consequat id porta nibh venenatis cras sed felis. Lacinia quis vel eros donec ac odio tempor orci. Quis ipsum suspendisse ultrices gravida dictum. Mi bibendum neque egestas congue quisque. Ullamcorper eget nulla facilisi etiam dignissim diam. Tellus id interdum velit laoreet id. Adipiscing elit duis tristique sollicitudin. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Praesent tristique magna sit amet. Ut faucibus pulvinar elementum integer enim neque volutpat. Molestie at elementum eu facilisis sed odio morbi quis. Vitae ultricies leo integer malesuada nunc.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="left-image">
            <img src="../../../assets/img/left-image.jpeg">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae suscipit tellus mauris a diam. Nisl vel pretium lectus quam id leo in vitae turpis.</p>
        </div>
    </div>
    <div class="right-content skew">
        <div class="right-image unskew">
            <img src="../../../assets/img/right-image.jpg">
        </div>
        <div class="text unskew">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor nec feugiat nisl pretium fusce id velit ut. Sed odio morbi quis commodo. Lorem ipsum dolor sit amet consectetur adipiscing.</p>
        </div>
    </div>
    <div class="left-content">
        <div class="left-image">
            <img src="../../../assets/img/left-img.jpeg">
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor dignissim convallis aenean et. Eget felis eget nunc lobortis.</p>
        </div>
    </div>
</div>